---
import projects from "../../data/projects.json"
const all_projects = projects["projects"]
---
<div class="page">
    <h1>Projects</h1>
    <h2>See what I've been up to</h2>
    <div class="projects-container">
        {all_projects.map((proj_data) => 
            <div class="project_card">
                <div class="project_text center-all column-flex">
                    <div class="card-content">
                        <div class="project_title center-all">
                                <h2>{proj_data.title}</h2>
                                {proj_data.github && 
                                    <a href={proj_data.github}>
                                        <i class="fa-brands fa-github"></i>
                                    </a>
                                }
                                {proj_data.link &&
                                    <a href={proj_data.link}>
                                        <i class="fa-solid fa-link"></i>
                                    </a>
                                }
                        </div>

                        <img src={proj_data.imgUrl} alt="image"/>
                        <p>{proj_data.description}</p>
                    </div>
                    <div class="skills">
                        {proj_data.skills.map((skill) => (
                            <div class="center-all">
                                <p>{skill}</p>
                            </div>
                        ))}
                    </div>
                </div>
            </div>
        )}
    </div>
</div>