---
import projects from "../../data/projects.json"
const all_projects = projects["projects"]
type Skill = "Python" | "JavaScript" | "HTML" | "CSS" | "React" | "NodeJS";

const skillIcons: Record<Skill, string> = {
  Python: "fa-brands fa-python",
  JavaScript: "fa-brands fa-js",
  HTML: "fa-brands fa-html5",
  CSS: "fa-brands fa-css3-alt",
  React: "fa-brands fa-react",
  NodeJS: "fa-brands fa-node",
};

---
<div class="page">
    <h1>Projects</h1>
    <h2>See what I've been up to</h2>
    {/** TODO: CONSIDER MOVING TO SEPARATE COMPONENT */}
    <div class="projects-container">
        {all_projects.map((proj_data) => 
            <div class="project_card">
                <div class="project_text center-all column-flex">
                    <div class="project_title center-all">
                        <h2>{proj_data.title}</h2>
                        {/* <i class={proj_data.title_img}></i>*/}
                        
                    </div>

                    <img src={proj_data.imgUrl} alt="image"/>
                    <p>{proj_data.description}</p>
                    {/* TODO: separate component for related project skills */}
                    <div class="skills center-all">
                        {proj_data.skills.map((skill) => (
                            <div class="skills center-all">
                                <p>{skill}</p>
                                {/*                                 <i
                                    class={skillIcons[skill as Skill] || "fa-solid fa-circle-question"}
                                    title={skill}
                                ></i> */}

                            </div>
                        ))}
                    </div>
                </div>
            </div>
        )}
    </div>
</div>