---
import experiences from "../../data/experiences.json"
const exp = experiences["experiences"];
---
<div class="page center-all column-flex new">
    <h1>Experience</h1>
      <ul class="experience-list">
        {exp.map((experience) => 
            <li class="vertical-line">
                <div class="experience-card column-flex">
                    <div class="card-content">
                        <time class="text-bold">{experience.dates}</time>
                        <div class="card-heading">
                            <h2>{experience.title}</h2>
                            <p>{experience.company}</p>
                        </div>
                        <p class="text-bold">{experience.mainPoint}</p>
                        <p style="margin-bottom: 36px;">{experience.description}</p>
                    </div>
                    <div class="skills center-all">
                        {experience.skills.map((skill) => (
                            <div class="center-all">
                                <p>{skill}</p>
                            </div>
                        ))}
                    </div>
                </div>
            </li>
        )}    
      </ul>
  </div>